body {
	margin: 0;
	padding: 0;
}

.resizable-component {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: lightblue;
	resize: both;
}

.draggable-component {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: lightblue;
}

.resize-handle {
	position: absolute;
	width: 10px;
	height: 10px;
}

.top {
	background-color: #3e9af0;
	width: calc(100% - 10px);
	height: 2.5px;
	left: 5px;
	top: -2.5px;
	cursor: row-resize;
}

.left {
	background-color: #3e9af0;
	width: 2.5px;
	height: calc(100% - 10px);
	top: 5px;
	left: -2.5px;
	cursor: col-resize;
}

.right {
	background-color: #3e9af0;
	width: 2.5px;
	height: calc(100% - 10px);
	top: 5px;
	left: calc(100% - 2.5px);
	cursor: col-resize;
}

.bottom {
	background-color: #3e9af0;
	width: calc(100% - 10px);
	height: 2.5px;
	left: 5px;
	top: calc(100% - 2.5px);
	cursor: row-resize;
}

.top-left {
	background-color: #3e9af0;
	top: -5px;
	left: -5px;
	cursor: nw-resize;
}

.top-right {
	background-color: #3e9af0;
	top: -5px;
	right: -5px;
	cursor: ne-resize;
}

.bottom-left {
	background-color: #3e9af0;
	bottom: -5px;
	left: -5px;
	cursor: sw-resize;
}

.bottom-right {
	background-color: #3e9af0;
	bottom: -5px;
	right: -5px;
	cursor: se-resize;
}
